<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Tellier.Wouter.IMDB</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>671FA028-CA0B-42FC-A3A5-EE008C75DCD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2961844D-EEFA-4C0A-9A66-51EF52898F9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Wouter Tellier</string>
	<key>description</key>
	<string>Search IMDB</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search IMDB</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>imdb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading movies...</string>
				<key>script</key>
				<string>python2 imdb.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search IMDB</string>
				<key>title</key>
				<string>Search IMDB</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>671FA028-CA0B-42FC-A3A5-EE008C75DCD6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2961844D-EEFA-4C0A-9A66-51EF52898F9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>My first (publicly exposed) workflow. I'm not familiar (yet) with python, so this is my hello-world.
This script gets the suggestions from the imdb-website (as long as they don't change the API to it) and shows the results.
All results will be shown, but (for now) only movies and actors are actionable.</string>
	<key>uidata</key>
	<dict>
		<key>2961844D-EEFA-4C0A-9A66-51EF52898F9E</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>671FA028-CA0B-42FC-A3A5-EE008C75DCD6</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.linkedin.com/in/wouter-tellier</string>
</dict>
</plist>
